version: '3'
services:
  web:
    container_name: web
    image: sirpole/ant-dev
    links:
      - database:db
    volumes:
      - .:/var/www
    environment:
      - GITHUB_KEY
      - GITLAB_KEY
    ports:
      - "80:80"
      - "443:443"
      - "8000:8000"
      - "3000:3000"
  database:
    container_name: database
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - ~/.ant/mysql:/var/lib/mysql
  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin/phpmyadmin
    links:
      - database:db
    ports:
      - "8080:80"
    environment:
      MYSQL_USERNAME: root
      MYSQL_ROOT_PASSWORD: root
